@model NeaStyleOficial.ViewModels.DetalheProdutoViewModel

@* Exibe info do produto *@
<h1>@Model.Produto.Nome</h1>
<h3>R$ @Model.Produto.Variacoes.FirstOrDefault()?.Preco.ToString("F2")</h3>

<form asp-controller="Carrinho" asp-action="AdicionarAoCarrinho" method="post">
    
    @* Select de variações *@
    <div class="mb-3">
        <label class="form-label">Escolha a variação</label>
        <select name="produtoVariacaoId" class="form-select">
            @foreach (var variacao in Model.Variacoes)
            {
                <option value="@variacao.ProdutoVariacaoId">
                    @variacao.Tamanho — @variacao.Cor (@variacao.Estoque disponíveis)
                </option>
            }
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">Quantidade</label>
        <input type="number" name="quantidade" value="1" min="1" max="10" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success btn-lg w-100">
        Adicionar ao Carrinho
    </button>
</form>