@model IEnumerable<NeaStyleOficial.ViewModels.DetalheProdutoViewModel>

@foreach (var item in Model)
{
    <p>@item.Produto.Nome</p>
    <p>Estoque: @item.EstoqueTotal</p>
    
    @foreach (var variacao in item.Variacoes)
    {
        <p>Tamanho: @variacao.Tamanho — Cor: @variacao.Cor — Estoque: @variacao.Estoque</p>
    }
}