@model IEnumerable<NeaStyleOficial.ViewModels.DetalheProdutoViewModel>

@foreach (var item in Model)
{
    <p>@item.Produto.Nome</p>
    <p>Estoque: @item.EstoqueTotal</p>
    
    @foreach (var variacao in item.Variacoes)
    {
        <p>Tamanho: @variacao.Tamanho — Cor: @variacao.Cor — Estoque: @variacao.Estoque</p>
    }
        <a asp-controller="ProdutoVariacao" 
        asp-action="Criar" 
        asp-route-produtoId="@item.Produto.ProdutoId"
        class="btn btn-primary">
            Adicionar Variação
        </a>
        <button class="btn btn-sm btn-primary" onclick="">Editar</button>
        <button class="btn btn-sm btn-danger" onclick="">Excluir</button>
}